langchain
langchain-core
langchain-community
langchain-groq
langchain-mistralai
langchain-chroma
chromadb
langchain-huggingface
sentence-transformers
python-dotenv
mistralai
huggingface_hub
tavily-python