langchain
langchain-core
langchain-community

langchain-mistralai

langchain-chroma
chromadb
langchain-groq
langchain-huggingface
sentence-transformers

python-dotenv
mistralai 
langchain-huggingface 
huggingface_hub
langchain-community
